<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset = "UTF-8">
</head>
<body>
    <div class="row">  
      <% obj.reverse.each do |post| %>
        <br>
        <div class="box">
          <div class="box-header">    
            <h3><img src="https://media2.giphy.com/media/1L5YuA6wpKkNO/200.webp?cid=790b761127f955bedfedc953648903581a07e57fdaffab15&rid=200.webp" alt="" />
              <%= link_to User.find(post.user_id).username, user_page_path(User.find(post.user_id))%>
              <span>Updated <%= time_ago_in_words(post.updated_at) %> ago, <i class="fa fa-globe"></i></span>
              <span>Created at <%= post.created_at.strftime("%Y/%m/%d %H:%M:%S") %><i class="fa fa-globe"></i></span>
            </h3>
            <span><i class="fa fa-angle-down"></i></span>
            <div class="window"><span></span></div>
          </div>
          <div class="box-content">
            <div class="content">
              <div class="bottom">
                <p><%= post.message.gsub(/\n/, '<br/>').html_safe %></p>
                <span><span class="fa fa-search-plus"></span></span>
                <div class="next-bottom", style="display: inline;">
                  <button class="button" id="delete-button"><%= link_to 'Delete', post_path(post), method: :delete %></button>
                  <% if post.created_at > 10.minutes.ago %> 
                    <button class="button" id="update-button"><%= link_to 'Update', edit_post_path(post) %></button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="box-likes">
            <div class="row">
              <span><a href="#"><img src="https://cf.ltkcdn.net/seniors/images/std/139330-300x400-fashionable_elderly_woman.JPG" alt="" /></a></span>
              <span><a href="#"><img src="https://lh3.googleusercontent.com/proxy/JzxrKBx8-7pxc6_cy-Xzog__wOB6XAdQhN49fzFEwFBDb_2Z8UC6JYN7Lxet4cCjONxoY4UK9AXPDoI_dMusOOLaHf1IkFFo2H7e_cfmKl0CS5Rlwr4-hFXCq5lKzfB5rj12S6Zr" alt="" /></a></span>
              <span><a href="#"><img src="https://i.pinimg.com/originals/82/9a/17/829a176338c4d5714a527d57086e4527.jpg" alt="" /></a></span>
              <span><a href="#">+92345675432229</a></span>
              <span>Like this</span>
            </div>
            <div class="row">
              <span>123456789765432 comments</span>
            </div>
          </div>
        </div>
      </div>
      <% end %>


    </div><!--  row  -->
    </body>
  </html>

