<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>🦁 Acebook</title>
  </head>
  <style>
    body {
      background-image: url('https://ak9.picdn.net/shutterstock/videos/28138519/thumb/12.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
  </style>
  <body>
    <div class="container" id="sign-up-form">
      <div class="row">
          <div class="welcome-header">
          <% if !!flash[:notice] %>
            <% flash.each do |type, message| %>
              <h1><%= message %></h1> <br>
            <% end %>
          <% end %>
          </div>

          <h2>Sign up <small>it's free!</small></h2>
          <h3>Fill in the Below to Create your Account</h3>
          
          <%= form_for :user, :url => { :action => "create" } do |f| %>
            <p>
              <%= f.label :Username %><br>
              <%= f.text_field :username, id: "username"%>
            </p>
          
            <p>
              <%= f.label :Email %><br>
              <%= f.text_field :email, id: "email" %>
            </p>

            <p>
              <%= f.label :Password %><br>
              <%= f.password_field :password, id: "password"%>
            </p>
            <p> 
            <div class="create-account"><%= f.submit "Create Account!", class: 'sign-up-button' %></div>
            </p>
          <% end %>
        </div>
  </body>
</html>
