<div class="container">
  <div class="row">

    <div class="welcome-header">
      <% if !!flash[:notice] %>
        <% flash.each do |type, message| %>
          <% if message[0] == "I" %>
            <p><%= message %><a href=https://www.campaigntoendloneliness.org/feeling-lonely/> End Loneliness </a></p>
          <% else %>
            <p><%= message %></p><br>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="column left">
      <div class="profile-container">
        <%= @user.username%>'s wall
        <div class="profile-small-font" id="wall_id">
          <div id="links">
            <%= link_to 'See All Posts', posts_path %><br>
            <%= link_to "Add friend", friendships_path(:friend_id => @user.id), :method => :post %><br>
          </div>
        </div>
      </div>
      <div class="friends-list-container">
        <% if @user.username == current_user.username %>
          <h2>Friends</h2>
          <% for friendship in @user.friendships %>
              <%=h friendship.friend.username %>
              (<%= link_to "remove", friendship, :method => :delete %>)
          <% end %>
        <% end %>
        <% if @user.username != current_user.username %>
        <h2>Friends</h2>
        <ul>
          <% for user in @user.inverse_friends %>
            <li><%=h user.username %></li>
          <% end %>
        </ul>
        <% end %>
        <p><%= link_to "Show All Friends", users_path %></p>
      </div>
    </div> <!--  column left  -->
    <div class="column right ">
      <%= link_to new_post_path(:wall_id => params[:id]) do %>
          New post
      <%end %>
      <div class="profile-posts" id="links">
        <%= render 'shared/post', obj: @posts %>
      </div>
    </div>
  </div><!-- row -->
</div><!-- container -->
