 <style>
 body {
    background-image: url('');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
</style>
<body>
  <div class="container">
    <div class="column left">
      <div class="profile-container">
        <%= @user.username%>'s wall
        <div class="profile-small-font" id="wall_id">
          <div id="links">
            <%= link_to 'See All AceBook Posts', posts_path %><br>
            <%= link_to "Add friend", friendships_path(:friend_id => @user.id), :method => :post %><br>
          </div>
        </div>
      </div>
      <div class="friends-list-container">
        <% if @user.username == current_user.username %>
          <h2>Friends</h2>
          <% for friendship in @user.friendships %>
              <ul><%=h friendship.friend.username %>
              (<%= link_to "remove", friendship, :method => :delete %>)</ul>
          <% end %>
        <% end %>
        <% if @user.username != current_user.username %>
        <h2>Friends</h2>
        <ul>
          <% for user in @user.inverse_friends %>
            <li><%=h user.username %></li>
          <% end %>
        </ul>
        <% end %>
        <p><%= link_to "Show All AceBook Users", users_path %></p>
      </div>
    </div> <!--  column left  -->

    <div class="column right ">
      <div class="welcome-header">
        <% if !!flash[:notice] %>
          <% flash.each do |type, message| %>
            <p><%= message %></p><br>
          <% end %>
        <% end %>
      </div>
      <%= link_to new_post_path(:wall_id => params[:id]) do %>
          <h1>New post</h1>
      <%end %>
      <%= render 'shared/post', obj: @posts %>
    </div>
  </div><!-- container -->
</body>
