<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>🦁 Acebook</title>
  </head>
  <style>
  body{
    text-align: center;
    /* background: url(https://images.freecreatives.com/wp-content/uploads/2016/04/Purple-Flower-Website-Background.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white
  }
  </style>

  <body>
    <% if !!flash[:notice] %>
      <% flash.each do |type, message| %>
        <p><%= message %></p> <br>
      <% end %>
    <% end %>

    <%= link_to new_post_path(:wall_id => params[:id]) do %>
      New post
    <% end %>
    
  
    <% @posts.reverse.each do |post| %>
        <div class="post-card" >
          <div class="post-text">
            <strong><%= post.message.gsub(/\n/, '<br/>').html_safe %></strong>
          </div>
          <div id='small-post-font'> 
            <small>
              <br>    
              Posted by: <%= link_to User.find(post.user_id).username, user_page_path(User.find(post.user_id))%><br>
              Updated <%= time_ago_in_words(post.updated_at) %> ago, <br>
              Created at <%= post.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
            </small>
          </div>
          <br>
          <div>
            <% if post.created_at > 10.minutes.ago %> 
              <td><button class="button" id="update-button"><%= link_to 'Update', edit_post_path(post) %></button></td>
              <br>
              <br>
            <% end %>
            <td><%= button_to 'Delete', post_path(post), method: :delete %></td>
          </div>
          <br>
        </div>
      <br>
      <br>
    <% end %>
  <br>
  <br>

  </body>
</html>


